:root {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
}

html,
body {
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial,
    sans-serif;
}


p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}