PORT=4000
NODE_ENV=development

SECRET_JWT=thisismysecret
JWT_EXPIRES_IN=60d

MY_URL_FRONTEND=http://localhost:3000

# DB
POSTGRES_USER=servercheck
POSTGRES_PASSWORD=servercheck123
POSTGRES_DB=servercheck_dev
POSTGRES_PORT=5432
DATABASE_URL=postgresql://servercheck:servercheck123@localhost:5432/servercheck_dev?schema=public
#DATABASE_URL=postgresql://servercheck:servercheck123@postgres:5432/servercheck_dev?schema=public

# REDIS
#REDIS_HOST="redis" # Para production 
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=myredisconfig

# AWS para servicio SES
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxx
AWS_SES_FROM_EMAIL=your_personal_email@gmail.com